body{
    background: #d1dedd;
}


header{
    /* padding-inline: 50px; */
    height: 100px;
    width: 100%;
    margin:40px auto;
    border-bottom: 1px solid #bbc7c7;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    display: flex;
align-items: center;
justify-content: space-between;
}

.search-area {
    display: flex;
align-items: center;
gap: 10px;
}

.grid-container{
    display: grid;
}
header input[type=text]{
    float: right;
    /* margin-top: -60px; */
    /* margin-right:100px; */
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
button{
    float: right;
    /* margin-top: -60px; */
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    height: 40px;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
}
button:hover{
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}